{% include '/layouts/base.html.twig' %}
<body class="">
<div class="wrapper ">
    {% include '/layouts/sidebar.html.twig' %}
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <div class="header text-center">
                    <h1 class="title">Admin Panel</h1>
                </div>
                <div class="row">
                    <div class="">
                      <h3>Welcome!</h3>
                    </div>
                    <div class="">
                        <h3><br/>Welcome!</h3>
                    </div>
                    <div class="">
                        <h3><br/><br/>Welcome!</h3>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">

        </footer>
    </div>
</div>
</body>


