{% include '/layouts/base.html.twig' %}
<body class="">
<div class="wrapper ">
    {% include '/layouts/sidebar.html.twig' %}

    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <div class="header text-center">
                    <h1 class="title">Create new Post</h1>
                </div>
                <div class="row">
                    <div class="">
                        {{ include('post/_form.html.twig') }}
                    </div>

                </div>
            </div>
        </div>

        <footer class="footer">

        </footer>
    </div>
</div>
</body>

