<form method="post" action="{{ path('common_fields_delete', {'id': common_field.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ common_field.id) }}">
    <button class="btn">Delete</button>
</form>
