{% extends 'base.html.twig' %}

{% block title %}New CommonFields{% endblock %}

{% block body %}
    <h1>Create new CommonFields</h1>

    {{ include('common_fields/_form.html.twig') }}

    <a href="{{ path('common_fields_index') }}">back to list</a>
{% endblock %}
